@import "tailwindcss";

* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "nerd font", sans-serif;
  background-color: #151513;
  color:  #FFFCF2;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.5;
  font-family: "JetBrains Mono", monospace;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  padding: 60px 0;
  overflow:hidden;
}